select {
    border: none;
    border-radius: 5px;
    width: 150px;
    padding: 0.1rem;
    color: rgb(181, 184, 197);
    background-color: rgb(58, 72, 90);
}
select:hover {
    background-color: rgba(83, 175, 228, 0.7);
}
option {
    width: 150px;
    padding: 0.1rem;
    color: rgb(64, 64, 64);
    background-color: rgb(128, 150, 179);
}
label {

}
.dropdown-menu {
    display: flex;
    justify-content: center;
    margin: 1rem;
}