.header-navbar {
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 50;
  }
  
  .nav-left {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 1.5rem;
  }
  
  .logo {
    height: 40px;
  }
  
  .nav-link {
    text-decoration: none;
    color: #4a4a4a;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .nav-link:hover {
    color: #000;
  }
  
  .nav-right {
    margin-right: 1.5rem;
  }
  .contact-btn{
    border: none;
    padding: 0.5rem;
    color: rgb(255, 255, 255);
    background-color: rgb(85, 87, 180);
  }