.header-navbar {
    position: fixed;
    top: 0;
    left: 0;
    margin-bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgb(221, 233, 248);
    box-shadow: 0 1px 1px rgb(64, 64, 64);
    z-index: 50;
  }
  
  .nav-left {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 1.5rem;
  }
  
  .logo {
    height: 40px;
  }
  
  .nav-link {
    text-decoration: none;
    color: rgb(64, 64, 64);
    font-size: 1rem;
    font-weight: 200;
  }
  
  .nav-link:hover {
    color: #000;
  }
  
  .nav-right {
    margin-right: 1.5rem;
  }
  .logout-btn{
    border: none;
    padding: 0.5rem;
    color: rgb(221, 233, 248);
    background-color: rgb(63, 115, 213);
  }
  .logout-btn:hover {
    border-radius: 5px;
    background-color: rgba(63, 115, 213, 0.8);
  }