@font-face {
  font-family: 'Century Gothic';
  src: local('Century Gothic'), local('CenturyGothic'),
       url('/fonts/CenturyGothic.ttf') format('truetype'); /* If hosting the font */
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Century Gothic', sans-serif;
  color: rgb(64 64 64);
}
#root {
  max-width: auto;
  margin: 5rem;
  padding: 1rem;
  text-align: center;
}