@font-face {
  font-family: 'Century Gothic';
  src: local('Century Gothic'), local('CenturyGothic'),
       url('/fonts/CenturyGothic.ttf') format('truetype'); /* If hosting the font */
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Century Gothic', sans-serif;
  color: rgb(64 64 64);
}
#root {
  max-width: auto;
  margin: 5rem;
  padding: 1rem;
  text-align: center;
}
.date-display {
  margin: 1rem;
  text-align: left;
}
.date-display strong {
  font-size: 25px;
}
.button-class {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding: 1rem;
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line if needed */
  gap: 1rem;
}
.activity-tool {
  flex: 1; 
  min-width: 80px;
  min-height: 150px;
  text-align: center; /* Keep text centered */
  padding: 0.5rem;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: rgba(128, 150, 179, 0.13);
  color: rgb(64, 64, 64);
  font-weight: 100;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centers text content vertically */
  align-items: center; /* Centers text horizontally */
  position: relative; /* Allows absolute positioning for the icon */
}
.iconContainer {
  position: absolute;
  left: 10px; /* Moves the icon to the left */
  transform: translateY(-95%); /* Centers icon vertically */
}
.icons {
  width: 35px;
  height: 35px;
}

/* Media query for small screens or portrait orientation */
@media (max-width: 768px) {
  .button-class {
    flex-direction: column; /* Stacks items vertically */
  }

  .activity-tool {
    width: 100%; /* Makes items take full width */
  }
}
#checkin-btn {
  width: auto;
  height: auto;
  border: none;
}
#checkin-btn:hover, #checkout-btn:hover {
  border-radius: 25px;
  background-color: rgba(82, 139, 71, 0.45);
}
#checkout-btn {
  width: auto;
  height: auto;
  border: none;
}
#tool-name {
  font-size: 15px;
  font-weight: 200;
}
#tool-name-value {
  font-size: 21px;
  font-weight: 800px;
}
.comment-container {
  display: flex;
  justify-content: left;
  margin: 1rem;
}
.comment-input {
  padding: 0.2rem;
  height: 25px;
  width: 80%;
  border: solid 1px rgb(64, 64, 64);
  border-radius: 5px;
}
.comment-btn {
  color: rgb(181, 184, 197);
  background-color: rgb(95 113 149);
  border: none;
}