#root {
  max-width: auto;
  margin: 5rem;
  padding: 1rem;
  text-align: center;
}
.button-class {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.checkin-btn {
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(62, 179, 39);
  padding: 0.5rem;
}
.checkin-btn:hover {
  box-shadow: 1px 1px 1px 1px black;
}
.checkout-btn {
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgb(179, 72, 39);
  padding: 0.5rem;
}
.checkout-btn:hover {
  box-shadow: 1px 1px 1px 1px black;
}